/* global */
@font-face {
    font-family: 'BLANKA'; /* Escolha um nome para a fonte */
    src: url(../fontes/Blanka-Regular.ttf) format('truetype'); /* Especifique o caminho para o arquivo de fonte e o formato da fonte */
}

:root{
    --phx: #FE7F02;
    --fonte: 'Open Sans', sans-serif;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* main */

main {
    flex: 1; /* Faz com que o conteúdo principal ocupe o espaço restante */
    padding-bottom:21vh; 
    padding-left: 5vh;
}

main h1{
    font-family: 'BLANKA', sans-serif;
    font-size: 4.5vh;
}

main p{
    font-size: 3.5vh;
}


/* header */
header{
    min-height: 11vh;
    background-color: black;
    color: white;
    padding-top: 2.4vh;
    padding-bottom: 2.4vh;
    padding-left: 4.4vh;
    padding-right: 4.4vh;
}

header #logo{
    float: left;
}

header #logo img{
    height: 6.2vw;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 1.65vw;
}

header a:hover{
    color: var(--phx);
}

header #menu{
    float: right;
}

header #menu ul {
    font-family: 'BLANKA', sans-serif;
    padding: 0;
    margin: 0;
}

header #menu ul li {
    display: inline-block;
    position: relative;
}

header #menu a {
    display: block;
    padding: 2.3vw;
    text-decoration: none;
}

header #menu ul li ul.dropdown {
    display: none;
    position: absolute;
    min-width: 7vw;
}

header #menu ul li:hover ul.dropdown {
    display: block;
}

header #menu ul li ul.dropdown li {
    display: block;
    background: black;
}

/* main */
main{
    padding-left: 50px;
    padding-right: 50px;
}

main h1{
    font-family: 'BLANKA', sans-serif;
} 

/* footer */

footer{
    background-color: black;
    color: white;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}

footer div div{
    display: inline-block;
    padding: 1.8vw;
    margin: 2.5vw;
}

footer div div h1{
    font-family: 'BLANKA', sans-serif;
    font-size: 1.55vw;
}

footer div div p{
    font-size: 0.9vw;
}

footer #logo img{
    width: 7vw;
}

footer #imagem-unicamp img{
    width: 7vw;
}
