/* global */
@font-face {
    font-family: 'BLANKA'; /* Escolha um nome para a fonte */
    src: url(../fontes/Blanka-Regular.ttf) format('truetype'); /* Especifique o caminho para o arquivo de fonte e o formato da fonte */
}

:root{
    --phx: #FE7F02;
    --fonte: 'Open Sans', sans-serif;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* header */
header{
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 90px;
}

header #logo{
    float: left;
}

header #logo img{
    height: 100px;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

header a:hover{
    color: var(--phx);
}

/* Estilos básicos do menu */
nav{
    font-size: 50px;
    float: right;
    margin-top: 30px;
}

nav ul {
    font-family: 'BLANKA', sans-serif;
    padding: 0;
    margin: 0;
}

nav ul li {
    /* font-family: Arial, Helvetica, sans-serif; */
    display: inline-block;
    position: relative;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* Estilos do menu dropdown */
nav ul li ul.dropdown {
    display: none;
    position: absolute;
    min-width: 200px;
}

nav ul li:hover ul.dropdown {
    display: block;
}

nav ul li ul.dropdown li {
    display: block;
    background: black;
}

/* footer */

footer{
    background-color: black;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 70px;
    font-size: 16px;
}

footer div div{
    display: inline-block;
    margin: 4%;
}

footer div div h1{
    font-family: 'BLANKA', sans-serif;
    font-size: 30px;
}

footer #logo img{
    height: 150px;
    /* float: left; */
}

footer #equipe-phoenix{
    margin: 0;
    padding: 0;
}

footer #imagem-unicamp img{
    height: 150px;
}
